* {
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
}

.container {
  margin: 10px;
  border: 2px solid rgb(100, 100, 100);
  display: flex;
  flex-wrap: wrap;
}

.date {
  margin: 10px;
  border: 2px solid rgb(63, 115, 64);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 32px auto;

  &__number {
    text-align: center;
    margin: 10px 10px 0 10px;
    grid-column: span 2;
    border: 2px solid rgb(63, 115, 64);
  }
}

.date:first-child {
  margin: 10px 0px 10px 10px;
}

.brand {
  width: 379px;
  margin: 10px;
  border: 2px solid rgb(100, 100, 100);

  &__name {
    display: flex;
    margin: 10px;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid rgb(100, 100, 100);
  }

  &__products {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid rgb(100, 100, 100);
  }

  &__product {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
    justify-content: center;
    border: 2px solid rgb(100, 100, 100);
  }

  &__product:last-child {
    margin-bottom: 10px;
  }

  &__price {
    display: flex;
    margin: 10px;
    justify-content: center;
    border: 2px solid rgb(100, 100, 100);
  }

  &__list {
    list-style: none;
    margin: 0 10px 10px 10px;
    border: 2px solid rgb(100, 100, 100);
  }

  &__car {
    margin: 5px;
  }
}

.brand:last-child {
  margin-left: 0px;
}
